<div class="container">
  <div class="row">
    <div class="col-4">
      <app-job-skill-weight></app-job-skill-weight>
      <p *ngIf="!jobs"><em>Loading...</em></p>
      <div class="list-group" *ngIf="jobs">
        <a [routerLink]="" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let job of jobs" (click)="showCandidateMatch(job)">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ job.name }}</h5>
          </div>
          <p class="mb-1">Company: {{ job.company }}</p>
          <ul class="comma-list">
            <li *ngFor="let skill of job.uniqueSkills"><small>{{ skill }}</small></li>
          </ul>
        </a>
      </div>
    </div>
    <div class="col-8">
      <app-candidate-match [jobId]="jobId"></app-candidate-match>
    </div>
    
  </div>
</div>
  
  
